<% include partials/header.ejs %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                        <label for="id">ID</label>
                        <input type="number" class="form-control" name="id" id="id" value="<%= player.id %>" required>
                    </div>
                
                <div class="form-group col-md-4">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control" name="first_name" id="first-name" value="<%= player.first_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="last-name" value="<%= player.last_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" id="email" value="<%= player.email %>" required disabled title="Email cannot be edited.">
                </div>
                <div class="form-group col-md-4">
                        <label for="password">password</label>
                        <input type="text" class="form-control" name="password" id="password" value="<%= player.password %>" required>
                </div>
                <div class="form-group col-md-4">
                        <label for="birth">birth</label>
                        <input type="date" class="form-control" name="birth" id="birth" value="<%= player.birth %>" required>
                </div>
                <div class="form-group col-md-4">
                        <label for="sex">sex</label>
                        <input type="text" class="form-control" name="sex" id="sex" value="<%= player.sex %>" required>
                </div>
                <div class="form-group col-md-4">
                        <label for="height">height</label>
                        <input type="number" class="form-control" name="height" id="height" value="<%= player.height %>" required>
                </div>
                <div class="form-group col-md-4">
                        <label for="weight">weight</label>
                        <input type="number" class="form-control" name="weight" id="weight" value="<%= player.weight %>" required>
                </div>
                <div class="form-group col-md-4">
                        <label for="bmi">bmi</label>
                        <input type="number" class="form-control" name="bmi" id="bmi" value="<%= player.bmi %>" required>
                </div>
                <div class="form-group col-md-4">
                        <label for="bmi_goal">bmi_goal</label>
                        <input type="number" class="form-control" name="bmi_goal" id="bmi_goal" value="<%= player.bmi_goal %>" required>
                </div>
                <div class="form-group col-md-4">
                        <label for="created">created</label>
                        <input type="date" class="form-control" name="created" id="created" value="<%= player.created %>" required>
                </div>
                <div class="form-group col-md-4">
                        <label for="modified">modified</label>
                        <input type="date" class="form-control" name="modified" id="modified" value="<%= player.modified %>" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Add User</button>
        </form>
    </div>
</div>
</body>
</html>